html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h2 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

p {
    color: hsl(229, 6%, 66%);
}

.card-two {
    box-sizing: border-box;
    width: 560px;
    background-color: hsl(234, 12%, 34%);
    margin: 50px;
    padding: 30px;
    border-radius: 30px;
    background-size: cover;
    background-image: linear-gradient( rgba(22, 157, 113, 0.5) 0%, rgba(0, 212, 255, 0.7) 100%), url('elephants.jpeg');
}

.card-two>h2,
p {
    color: white;
}

.card-one {
    border-radius: 5px;
    width: 500px;
    margin: 50px;
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    border-top: 3px solid hsl(180, 62%, 55%);
}